/********************/
/* DIV --> catalog  */
/********************/
.catalog {
    width: 79.722vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 4.166666666666667vw 0;
  }
  .frame,
  #resultat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
    gap: 1.2vw;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  .photo-bloc {
    position: relative;
    width: 39.2vw;
    height: calc(39.2vw * 0.9); 
    @media (max-width: 767px) {
      /* border: 1px solid red; */
      width: 100%;
      height: 100%;
    }
  }
.card-grid {
    padding: 0;
    position: relative;
    width: 30%;
    height: 20vw; 
    & img {
      object-fit: cover;
      width: 39.2vw;
      height: calc(39.2vw * 0.9);
      @media (max-width: 767px){
        width: 82vw;
        height: 78vw;

      }
    }
  
  @media (max-width: 767px) {
    width: 82vw;
    height: 78vw;
    margin: auto;
  }
}
.action {
  margin: auto;
}
/* .filter {
  display: flex;
} */

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .icons {
    opacity: 0;
    & img{
      object-fit: cover;
      height: 30px;
    }
  }

  .fullscreen-icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
.photo-bloc:hover .overlay {
  background-color: #00000080;
  transition: opacity 0.3s;   
  opacity: 1;
}
.photo-bloc:hover .icons {
  transition: opacity 0.3s;   
  opacity: 1;
}
.load-more-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
