#lightbox {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    justify-content: space-between;
    align-items: center;
    & a {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        font-family: Space Mono;
    }
}

.close-button {
    position: absolute;
    top: 70px;
    right: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}
.img-container {
    display: flex;
    flex-direction: column;
  }
.data {
  display: flex;
  justify-content: space-between;
}
.data span {
  color:#fff;
  text-transform: uppercase;
}
  
.nav-lightbox {
 height: 18px;
 width: 92px;
}
#prev-img {
  margin-left: 40px;
}
#prev-img:hover {
margin-left: 31px;
}
#next-img {
  margin-right: 40px;
}
#next-img:hover {
  margin-right: 31px;
}
