#lightbox {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: #000000e1;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 70px;
    right: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}
.img-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    & img{
     height: 100%;
     width: 100%;
    }
  }
.data {
  display: flex;
  justify-content: space-between;
    & span {
    color:#fff;
    text-transform: uppercase;
    font-family: Space Mono;
  }
}
  
.nav-lightbox {
 height: 18px;
 width: 92px;
}
#prev-img {
    width: 98px;
    margin-left: -8px;
}
/* #prev-img:hover {
margin-left: 31px;
} */
/* #next-img {
  margin-right: 40px;
} */
/* #next-img:hover {
  margin-right: 31px;
} */
