#lightbox {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 70px;
    right: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

