/********************/
/*      CONTACT     */
/********************/
.modal {
    display: none; 
    justify-content: center;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color:rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn ; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn ;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    @media (max-width: 767px) {
      flex-direction: column;
      padding-left: 6.48vw;
    }
  }

  .contact-header {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  img {
    height: 106px;
    @media (max-width: 1279px) {
    height: 70px;
    }
    @media (max-width: 767px) {
      }
  }

  .contact-form {
    min-height: 760px;
    max-height: 840px;
    position: fixed;
    bottom: 0;
    border: 5px solid #000;
    background-color: #fefefe;
    margin: 6% auto;
    padding: 0.5208333333333334vw 0 ;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    @media (min-width: 1280px) {
      width: 597px;
      height: 769px; 
    }
    
    @media (max-width: 768px) {
      width: 360px;
      height: 680px;
      top: 0;
      -webkit-animation-name: slideInTop;
      -webkit-animation-duration: 0.4s;
      animation-name: slideInTop;
      animation-duration: 0.4s;
    }
  }

  form {
    width:303px;
    margin: auto;
    padding: 40px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media (max-width: 1279px) {
      padding: 2.0833333333333335vw 20px 0px 20px;

    }
  }
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  input,textarea {
    width: 100%;
    padding: 10px 20px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #8888887e;
  }

  textarea {
    resize: none;
    height: 210px;
    
  }
  .wpcf7-response-output {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color:red;
    border: none !important;
    bottom :340px;
  }
  #submit {
    height: 50px;
    padding: 8px 90px 8px 90px;
    border-radius: 0px;
    border: none;
    margin: -5px 0 5px 0;
  }
  .btn:hover,
  #submit:hover {
    background-color: #8888887e;
    transition: 0.3s;
    cursor: pointer;
  }
  