/********************/
/*      CONTACT     */
/********************/
.modal {
    display: none; 
    justify-content: center;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color:rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn ; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn ;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  .contact-header {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  img {
    height: 106px;
    @media (max-width: 1279px) {
    /* height: calc(31.09375vw * 0.18); */
    height: 70px;
    }
    @media (max-width: 767px) {
      }
  }

  .contact-form {
    /* width: 597px 31.09375vw; */
    position: fixed;
    bottom: 0;
    border: 5px solid #000;
    background-color: #fefefe;
    margin: 6% auto;
    padding: 0.5208333333333334vw 0 ;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    @media (min-width: 1280px) {
      width: 597px;
      height: 769px; 
    }
    /* @media (max-width: 1279px) {
      width: 60vw;
      } */
    @media (max-width: 768px) {
      width: 360px;
      height: 680px;
    }
  }

  form {
    width:303px;
    margin: auto;
    padding: 40px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
   /*  @extend %border-marking; */
    @media (max-width: 1279px) {
      padding: 2.0833333333333335vw 20px 0px 20px;

    }
  }
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  input,textarea {
    width: 100%;
    padding: 10px 20px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #8888887e;
  }

  textarea {
    resize: none;
    height: 210px;
  }

  #submit {
    height: 50px;
    padding: 8px 90px 8px 90px;
    border-radius: 0px;
    border: none;
    margin: -5px 0 5px 0;
  }
  .btn:hover,
  #submit:hover {
    background-color: #8888887e;
    transition: 0.3s;
    cursor: pointer;
  }
  