/********************/
/*    FRONT-PAGE    */
/********************/
.banner {
    width: 100vw;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
        height:  27.65vh; 
    }
}

.banner-img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  /*   @media (max-width: 767px) {
        height: 27.65vh; 
        position: absolute;
        top: 80px;
    } */
}


.photo-event {
    object-fit: contain;
    position: absolute;
    width: 77.68072916666667vw;
  } 
