/********************/
/*   SINGLE PHOTO   */
/********************/
.main-content {
    width: 79.722vw ;
    margin: auto;
    padding-top: 40px;

    /* @media (max-width:769px){
      width: 80vw;
    } */
}

/********************/
/*   TOP SECTION    */
/********************/
.top {
  display: flex;
  justify-content: space-between;
  max-height: 1012px;
  width: 79.722vw;
  height: calc(79.722 * 1.33);

}
.left-column {
  width: 39.2vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid  rgba(0, 0, 0, 1); 
  & ul {
    margin-top: 20px;
    & li {
        list-style: none;
        line-height: 2.5;
        font-family:Space Mono;
        font-size: 16px;
        font-weight: 400;
        color:#000;
        text-transform: uppercase;
        @media (max-width: 969px) {
          font-size: 14px;
        }
    }
  }
}  
.tittle-box {
  border: 1px solid  rgb(147, 10, 238);
  max-width: 100%; /* §§§§§!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!§§§§§ */
}
.single-photo-title {
  border: 1px solid  rgb(147, 10, 238);
  max-width: 30%;
}
.meta {
  min-width: 39.2vw;
  height: 321px;
  margin-bottom: 20px;
  /* border: 1px solid  rgb(147, 10, 238);  */
}
/* .title-box{
  width: 80%;
} */
.single-photo-title {
  font-family: Space Mono;
  letter-spacing: -0.2px;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  max-height:116px;
  /* border: 1px solid  rgb(25, 10, 238);  */
  @media (max-width: 969px) {
    font-size: 44px;
  }
}
.main-picture { 
  width: 39.2vw;
  max-height: 1012px;
  height: calc(39.2vw * 1.33);
}
.main-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ==================================================================== */

/********************/
/*      MIDDLE      */
/********************/
.middle {
  height:7.291666666666667vw;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid #000;
}
.left-box {
  width: 39.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  width:14.16vw;
  height: 50px;
  background: #e5e2e2;
  padding: 8px 15px 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  @media (max-width:1080px) {
    width:13vw;
    height: calc(14.16vw * 0.35);
    font-size: calc(1rem * 0.9);
  }
}
.preview {
  width: 5.625vw;
  height:6.354166666666667vw;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4px;
}
.prev {
  width: 2.0833333333333335vw;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 6px;

}
.next {
  width: 2.0833333333333335vw;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 6px;

}
.prev-thumbnail,
.next-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}
.cmd {
  display: flex;
  justify-content: space-between;
  gap:1.5625vw;
  height: 1.5625vw;
  width: 5.625vw;
  padding:0.52vw 0 0.10vw 0;
  position: absolute;
  bottom: 0;
}
.miniature {
  max-height: fit-content;
  height:  4.427083333333333vw;
  width: 5.625vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.miniature  img {
  max-height: 100%;
  object-fit:cover;
  display: none;
}

 .arrow {
  width: 2.5vw;
 }
 /* ================================================================ */

/********************/
/*      BOTTOM      */
/********************/
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4.166666666666667vw 0;
}
.bottom-title {
  text-align: left;
  font-family:Space Mono;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  @media (max-width:969px) {
    font-size: 16px;
  }
}
.liked {
  /* width: 100%; */
  display: flex;
  padding: 2.08vw 0;
  gap: 1.2vw;
  //border: 1px dashed #360cf5;
}

.liked-img {
  object-fit: cover;
  width: 39.2vw;
  height: calc(39.2vw * 0.9);
}