/********************/
/*   SINGLE PHOTO   */
/********************/
.main-content {
    width: 1148px;
    margin: auto;
    padding-top: 40px;
}
.top {
  display: flex;
  justify-content: space-between;
  min-height: 844px;
  width: 1148px;
}
.left-column {
  width: 564px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid  rgba(0, 0, 0, 1); 
  & ul {
    margin-top: 20px;
    & li {
        list-style: none;
        line-height: 2.5;
        font-family:Space Mono;
        font-size: 16px;
        font-weight: 400;
        color:#000;
        text-transform: uppercase;
    }
  }
}  
.meta {
  min-width: 420px;
  height: 321px;
  margin-bottom: 20px;
  /* border: 1px solid  rgb(147, 10, 238);  */
}
/* .title-box{
  width: 80%;
} */
.single-photo-title {
  font-family: Space Mono;
  letter-spacing: -0.2px;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  max-height:116px;
  /* border: 1px solid  rgb(25, 10, 238);  */
}
.main-picture { 
  width: 563px;
  min-height: 844px;
}
.main-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.middle {
  height:110px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid #000;
}
.left {
  width: 564px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  width:272px;
  height: 50px;
  background: #e5e2e2;
  padding: 8px 15px 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.preview {
  width: 81px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;

}
.cmd {
  display: flex;
  justify-content: space-between;
  gap:10px;
  height: 30px;
  padding:10px 0 2px 0;
}
.miniature {
  max-height: fit-content;
  height: 71px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
/* .miniature img {
  max-height: 100%;
  object-fit:contain;
} */
.left p {
font-family: Poppins;
font-size: 14px;
font-weight: 300;
line-height: 21px;
text-align: right;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 80px 0;
}
.bottom-title {
  text-align: left;
  font-family:Space Mono;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}
.liked {
  width: 100%;
  display: flex;
  padding: 40px 0;
  gap: 20px;
}

.liked > img {
  object-fit: cover;
  width: 564px;
  height: 495px;
}