/********************/
/*      Header      */
/********************/
header {
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
    
    .menu-container {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 79.722vw;
        margin: auto;
    }
    .header-menu{
        display: flex;
        justify-content:center;
        gap:40px;
    }
    .custom-logo-link img {
        height: 14px;
        width: 216px;
    }
}

