@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    src: url('../fonts/space/SpaceMono-BoldItalic.woff2') format('woff2'),
         url('../fonts/space/SpaceMono-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    src: url('../fonts/space/SpaceMono-Italic.woff2') format('woff2'),
         url('../fonts/space/SpaceMono-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    src: url('../fonts/space/SpaceMono-Regular.woff2') format('woff2'),
         url('../fonts/space/SpaceMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    src: url('../fonts/poppins/Poppins-Light.woff2') format('woff2'),
         url('../fonts/poppins/Poppins-Light.woff') format('woff');
}
